/* BASIC STYLING */

* {
    box-sizing: border-box;
    font-family: arial;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #111;
}

hr {
    opacity: 0.3;
}

/* NAVBAR STYLING */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #000;
}

.brand-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    min-width: 7em;
    min-height: 1.2em;
    margin-left: 1.3em;
    padding: .75rem;
    color: #111;
    transition: all .2s ease-in-out;
}

.title-in-page {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    min-width: 7em;
    min-height: 1.2em;
    padding: .75rem;
    color: #111;
}

.logo-link {
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.brand-title:hover {
    color: white;
    background-color: #111;
}

.navbar-links {
    margin-right: 1.3em;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #111;
    padding: 1rem;
    display: block;
    transition: all .3s ease-in-out;
}

.navbar-links li a:hover {
    background-color: #111;
    color: white;
}

/* NAVBAR MENU TOGGLE BUTTON */

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    transition: all .3s;
}

/* SEARCH STYLING */

.search-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 5%;
}

.search-form {
    margin: 0 auto;
}

#search-bar {
    border: 1px solid #333;
    border-radius: 0;
    font-size: 1rem;
    padding: .5em;
    margin: 3.5em;
    margin-left: .5em;
    margin-right: .5em;
    min-width: 50%;
    height: 20%;
}

::placeholder {
    color: #ccc;
}

@media (min-width: 600px) {
    .search-bar {
        margin-left: 2em;
    }

}

/* MOVIE DISPLAY */

.movie-container {
    margin: 1em;
    
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em 1.5em;
}

.movie-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .5em;
    margin-bottom: 2em;
    font-weight: lighter;
    text-align: left;
    font-size: 1.8em;
    max-height: 5em;
}

.movie-container-header-text {
    margin-top: 1em;
    font-weight: lighter;
    text-align: left;
    font-size: 1em;
}

.movie {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #000;
}

.single-movie-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em;
}

.single-movie {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 0;
    padding-bottom: 5em;
    padding-top: 3em;
    border-bottom: 1px solid #000;
}

@media (max-width: 1200px) {
    .single-movie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        margin-bottom: 3em;
    }

    .movie-text-container {
        min-height: 15em;
    }

    .image-container {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    .navigation-button-container {
        margin-bottom: 3em;
    }
}

.movie:first-of-type {
    margin-top: 3em;
}

.movie-trailer-container {
    align-self: center;
}

.movie-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .8em .6em;
}

.image-container {
    padding-right: .5em;
}

.movie-image {
    transition: all .2s ease-in-out;
}

.movie-image:hover {
    transform: scale(1.08);
    margin: 0 .2em;
}

.title-spec-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.movie-title {
    font-weight: bold;
    font-size: 1.2em;
}

.movie-title > .movie-spec {
    font-weight: lighter;
    font-size: .8em;
}

.movie-description {
    font-size: .9em;
}

.movie-text-container div .showing-at-format {
    font-style: italic;
}

.movie-text-container div .cinema {
    font-weight: bold;
}

.movie-crew-title {
    font-weight: bold;
    margin-right: .5em;
}

.movie-crew {
    word-spacing: .25em;
}

.show-time-container {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.movie-cinema {
    text-align: center;
}

.movie-time {
    text-align: center;
}

/* ABOUT PAGE */

.about-text {
    font-size: 1.4em;
}

/* BUTTONS */

.main-btn {
    font-size: .67em;
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    background-color: white;
    border: 1px solid #111;
    border-radius: 0;
    color: #111;
    max-width: 100px;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.main-btn:hover {
    transform: scale(1.07);
}

.btn-container {
    margin-top: .7em;
}

.success-message-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    background-color: white;
    border: 1px solid #111;
    border-radius: 0;
    color: #111;
    min-width: 10em;
    min-height: 2.5em;
    margin-top: 1em;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

a {
    text-decoration: none;
    color: #000;
}

.previously-booked {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.submit-btn:hover {
    transform: scale(1.07);
}

.navigation-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigation-button {
    font-size: .67em;
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    background-color: white;
    border: 1px solid #111;
    border-radius: 0;
    color: #111;
    max-width: 100px;
    min-width: 5em;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.navigation-button:hover {
    transform: scale(1.07);
}


/* BOOKING FORM */

.card {
    background-color: white;
    border: 1px solid #000;
    border-radius: 0;
    padding: 1.5rem;
    max-width: 300px;
    margin: 0 auto;
    animation: fade 250ms ease-in-out forwards;
    animation: slide 250ms 125ms ease-in-out both;
    color: #111;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25rem;
}


.form-group > label {
    font-weight: bold;
    font-size: .8em;
    color: #333;
}

.form-group > input {
    border: 1px solid #333;
    border-radius: 0;
    font-size: 1rem;
    padding: .5em;
}

.step-title {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.user-form {
    margin: 5em;
    overflow: hidden;
    position: relative;
    display: block;
}

.registration-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; /* Make sure the container is on top of other page elements */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    border: #fff;
}

.success-card {
    background-color: white;
    border: 1px solid #000;
    border-radius: 0;
    padding: 1.5rem;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 5em;
    animation: fade 250ms ease-in-out forwards;
    animation: slide 250ms 125ms ease-in-out both;
    color: #111;
}

.about-card {
    background-color: white;
    border: 1px solid #000;
    border-radius: 0;
    padding: 1.5rem;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    color: #111;
}

#telephone {
    font-weight: bold;
}

.contact-container {
    text-align: center;
    font-size: .9em;
}

.contact-card {
    background-color: white;
    border: 1px solid #000;
    border-radius: 0;
    padding: 1.5rem;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    max-width: 500px;
    color: #111;
}

.contact-details {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.success-message {
    margin-top: 1em;
    text-align: center;
    padding-bottom: 1em;
}

.form-group > .error {
    color: red;
}

@keyframes slide {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(.75);
        opacity: 0;
    }

    100% {
        transform: scale(0);
    }
}


/* SMALL SCREEN STYLING FOR NAVBAR TOGGLE BUTTON */

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}